@font-face {
    font-family: "DM_Sans";
    src: url(DM_Sans/DMSans-Regular.ttf) format("truetype");
}


html{
    background-color: #DDD0C8;
    padding: 10px;
    margin: 10px;
}

body {
    margin: 10px;
    padding: 10 px;
    font-family: 'DM_Sans', Fallback, sans-serif;
    border-top: 10px solid #323232;
}

header {
    color: #323232;
    font-weight: lighter;
}

h1 {
    color: #323232;
    font-weight: lighter;
}

h2 {
    color: #323232;
    font-weight: lighter;
    margin: 50px;
    line-height: 1.5;
}

p {
    margin: 50px;
    color: #323232;
    font-weight: lighter;
}

#resume {
    margin: 50px;
    height: 100%;
    width: auto;
}

.link {
    width: 30px;
    display: inline-block;
}

#navbar {
    overflow: hidden;
    background-color: #DDD0C8;
    border-bottom: 1px solid #323232;
  }
  
  .nav-right {
    float: right;
    display: block;
    color: #323232;
    text-align: center;
    padding: 14px;
  }

  .nav-left {
    float: left;
    padding: 14px;
  }

#gallery1 {
    float: left;
    margin: 40px;
}

.img {
    height: auto;
    width: 48%;
}

@media (max-width: 400px) {
    body {
        margin: 10px;
        padding: 10px;
    }
}
  